MYSQL_DATABASE=checkobra
MYSQL_USER=checkobra
MYSQL_PASSWORD=checkobra
MYSQL_ROOT_PASSWORD=root
MYSQL_PORT=3306

DB_HOST=db
DB_PORT=3306
DB_NAME=checkobra
DB_USER=checkobra
DB_PASSWORD=checkobra

BACKEND_PORT=3000
FRONTEND_PORT=5173
PMA_PORT=8081